/**
Dung cho id hot-news va rated-news
 */
#hot-news {
  padding: 30px 0px;
  background: #eaeaea; }
  #hot-news .card {
    margin-bottom: 20px; }
  #hot-news .card-block {
    padding: 20px; }
  #hot-news .text-time {
    color: #ff1c4b; }
