#rated-news {
  padding: 30px 0px; }
  #rated-news #categories {
    margin-bottom: 20px; }
    #rated-news #categories li {
      text-align: center;
      width: 30%; }
    #rated-news #categories a {
      color: #adadad; }
      #rated-news #categories a:hover {
        color: #000000;
        text-decoration: none;
        border-bottom: 3px solid #ffb100; }
      #rated-news #categories a.active {
        color: #000000; }
  #rated-news .news-img {
    padding: 0px; }
  #rated-news #featured-video #title {
    border-bottom: 2px solid #000000; }
  #rated-news #title {
    border-bottom: 2px solid #000000;
    margin-bottom: 20px; }
