/**
Dung cho id hot-news va rated-news
 */
#hot-news, #news-category {
  padding: 30px 0px;
  background: #eaeaea; }
  #hot-news .card, #news-category .card {
    margin-bottom: 20px; }
  #hot-news .card-block, #news-category .card-block {
    padding: 20px; }
  #hot-news .text-time, #news-category .text-time {
    color: #ff1c4b; }

.container-fluid {
  padding: 0px; }

#header {
  border: 1px solid #f2dede;
  padding: 0px; }

#social {
  background: #000000;
  border-bottom: 1px solid #665d54; }
  #social a {
    display: inline-block;
    border-right: 1px solid #665d54;
    padding: 6px 13px;
    margin: 0px 0px;
    float: right; }
  #social .red-icon {
    color: #dc2c07; }

#account {
  background: #1e1e25;
  color: #ffffff; }
  #account a {
    color: #ffffff; }
    #account a:hover {
      color: #ff0000; }
  #account img {
    height: 50px;
    width: 50px; }
  #account li {
    display: inline; }

#menu {
  padding: 0px; }
  #menu li {
    padding: 3px; }
    #menu li:hover {
      border-bottom: 2px solid #eea220; }
    #menu li .menu-item {
      color: #000000;
      font-size: 14px;
      font-weight: 700;
      padding: 0px auto; }

#notification li {
  margin-top: auto;
  margin-bottom: auto; }
  #notification li a {
    position: relative; }

#notification .ping {
  background: #ff0000;
  border: 3px solid #141517;
  border-radius: 50%;
  height: 14px;
  position: absolute;
  right: 5px;
  top: 9px;
  width: 14px;
  z-index: 1; }

#body {
  padding: 0px; }

#slide ul li {
  border: 1px solid #000000; }

#slide ul .active {
  background: #000000; }

#news-category {
  background-color: #ffffff; }

#title {
  border-bottom: 2px solid #000000; }

.news-of-category {
  padding: 20px 0px;
  margin-left: auto;
  margin-right: auto; }

#rated-news {
  padding: 30px 0px; }
  #rated-news .news-img {
    padding: 0px; }
  #rated-news .nav-tabs {
    border: none; }

#categories {
  margin-bottom: 20px; }
  #categories li {
    text-align: center;
    width: 30%; }
    #categories li:hover {
      color: #000000;
      text-decoration: none;
      border-bottom: 2px solid #ffb100; }
      #categories li:hover a {
        text-decoration: none;
        color: #000000; }
  #categories a {
    color: #adadad; }
    #categories a.active {
      color: #000000; }

#featured-video #title {
  border-bottom: 2px solid #000000; }

#title {
  border-bottom: 2px solid #000000;
  margin-bottom: 20px; }

#footer {
  color: #ffffff;
  background: #000000;
  text-align: center;
  padding: 5%; }
