@import "for-hotnews-n-ratednews.scss";

#news-category {
	background-color: #ffffff;
	#title {
		border-bottom: 2px solid #000000;
	}
	#news-of-category {
		padding: 20px 0px;
		margin-left: auto;
		margin-right: auto;
	}
	@extend %forHotNewsNRatedNews;
	@import "rated-news";
}