#rated-news {
	padding: 30px 0px;

	#categories {
		margin-bottom: 20px;
		li {
			text-align: center;
			width: 30%;
		}

		a {
			color: #adadad;
			&:hover {
				color: #000000;
				text-decoration: none;
				border-bottom: 3px solid #ffb100;
			}
			&.active {
				color: #000000;
			}
		}
	}

	.news-img {
		padding: 0px;
	}
	#featured-video {
		#title {
			border-bottom: 2px solid #000000;
		}
	}
	#title {
		border-bottom: 2px solid #000000;
		margin-bottom: 20px;
	}
}